<!doctype html>
<html lang="en">
<head>

     <meta charset="UTF-8" />
    <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/script.js" defer></script>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>
</head>
<body>
<h1>Api wars</h1>
<br>
<br>

<button id="previous">Previous</button>
<button id="next">Next</button>
<br>
<br>
<table id="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Diameter</th>
        <th>Climate</th>
        <th>Terrain</th>
        <th>Surface Water Percentage</th>
        <th>Population</th>
        <th>Residents</th>
    </tr>
    </thead>
    <tbody id="data">

    </tbody>





</table>



<div id="test"></div>
</body>
</html>