<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    <title>Document</title>
</head>
<body>


<p>{{message}}</p>
<form action="{{ url_for('login') }}" method="post" id="signup">
    <input id="username" type="email" name="username" placeholder="Email" autocomplete="off">
    <input id="password" type="password" name="password"  placeholder="Password" autocomplete="off">
    <button id="saveToStorage" type="submit" onclick="saveUserToSession()">Login</button>

</form>
</body>
</html>